# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.project
target

.svn
bin

.metadata/
.idea
.recommenders/
.settings
.classpath
*.classpath
*.class
*.iml
*.log
*.jar
*.war
*.ear
.gitignore
*.MF
*rebel.xml*
.vertx/
.DS_Store
*.factorypath